.Channel {
    display: flex;
    flex-direction: column;
    /* 요소들을 세로 방향으로 배치 */
    width: 100%;
    /* sidebar의 너비만큼 제외한 나머지 영역을 차지 */
    margin-left: 240px;
    margin-top: 56px;
    padding: 0;
    overflow: hidden;
}

.Channel-Info {
    margin: 0;
}


/* Channel 헤더 밑 마이크 사진 부분 */
.Channel-Cover {
    justify-content: center;
    align-items: center;
    height: 266px;
}

.cover-image {
    width: 100%;
    flex-shrink: 0;
}


/* Channel Title 부분 */
.Channel-Title {
    display: flex;
    padding: 10px;
    background-color: #44ADDA;
    justify-content: space-between;
    margin-bottom: 0px;
    border: 1px solid red;
}

/* Channel Title 안에 프로필, 구독버튼을 담고 있는 channel content 부분 */
.channel-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.channel-frame {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}

/* channel-content 안 Channel-Profile (프로필 부분) 부분 */
.Channel-Profile>a>img {
    width: 80px;
    height: 80px;
    /* margin-top: 30px; */
}


.Channel-Profile-Name {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 20px;
}

.Channel-Profile-Name span:nth-child(1) {
    font-size: 30px;
    /* 적당한 크기로 조정 */
    font-weight: bold;
}

.Channel-Profile-Name span:nth-child(2) {
    font-size: 15px;
    /* 적당한 크기로 조정 */
    font-weight: normal;
}

/* 구독버튼 부분 */
.Channel-Subscribe>a>img {
    margin-top: 40px;
}

/* ChannelToolbar 채널페잊 탑 메뉴 바 부분 */
.ChannelToolbar {
    display: flex;
    background-color: #44ADDA;
    margin-top: 0;
    margin-bottom: 0px;
}

.ChannelToolbar ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;

}

.ChannelToolbar-Button {
    display: flex;
    justify-content: flex-end;
    /*버튼을 끝점 기준으로 배치*/
    flex-direction: row;
    align-items: center;
    gap: 18rem;
}

.ChannelToolbar ul a {
    padding-left: 2rem;
    /* 조정 가능한 값 */
    padding-right: 2rem;
    /* 오른쪽 패딩도 추가해서 간격을 조절하세요 */
    text-decoration-line: none;
    color: white;
}


.channel_mbox {
    border: 1px solid rebeccapurple;
    display: inline-flex;
    padding: 24px 287px 24px 65px;
    align-items: flex-start;
}

.Channel-Big-Video {
    margin: 0;
    display: flex;
    flex-direction: row;
    /* 두 요소를 수평으로 정렬 */
    align-items: flex-start;
    align-items: center;
    border: 1px solid rgb(248, 6, 6);
}

.channel__big__video {
    gap: 10px;
    width: 424px;
    height: 238px;
    border: 1px solid rgb(255, 230, 0);
}


.big__video__info {
    padding-bottom: 0px;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid rgb(4, 238, 43);
}

.big__video__info>p {
    margin-bottom: 20px;
    border: 1px solid black;
}

.channel_sbox {
    position: absolute;
    left: 240px;
    top: 900px;
    display: flex;
    padding: 0px 65px;
    flex-direction: column;
    align-items: flex-start;
}

.channel_svd {
    display: flex;
    padding-right: 0px;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    padding-right: 24px;
    width: 210px;
    height: 118px;
    border: 1px solid black;
}

.channelLonger {
    margin-left: 120px;
}