@font-face {
    font-family: 'iceJaram-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/iceJaram-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    /* font-family: sans-serif; */
    font-family: iceJaram-Rg;
    font-size: x-large;
    background-color: #83C9E7;
    /* background-color: #212121; */
    overflow-x: auto;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin: 0;
}

/* 클래스나 아이디는 나중에 받으셔서 쓰시면될겁니다 */

header {
    position: fixed;
    display: flex;
    width: 100%;
    height: 56px;
    flex-shrink: 0;
    background: var(--background-color, #4b89dc);
    top: 0;
    left: 0;
    /* 스크롤시 헤더는 상단위에 고정되어있는 상태에서 헤더 밑으로 스크롤*/
    z-index: 9999
        /* 추가 */
}

a {
    text-decoration-line: none;
}

/* profile part */

.profile_main {
    display: flex;
    width: 200px;
    height: 48px;
    margin: 8px;
    justify-content: right;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    margin-left: 25%;
    position: relative;
    /* border: 1px solid grey; */
}

.profile_main>button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    position: relative;
}

.profile_main>button:hover {
    background-color: #1263CE;
}

.profile_box {
    display: inline-block;
    width: 24px;
    height: 24px;
    padding: 8px;
    align-items: center;
    gap: 10px;
    margin: 8px 0px;
    /* border: 1px solid grey; */
}

/* yt logo part */
/* yt logo 전체 부분 */
.yt_button {
    display: inline-flex;
    padding-right: 9px;
    align-items: center;
    width: 160px;
    height: 56px;
    margin-left: 16px;
}

/* 유튜브 로고부분 */
.yt_logo {
    display: flex;
    padding: 18px 14px 18px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 90px;
    /* border: 1px solid white; */
}

/* 햄버거 그림부분 */
.yt_icon {
    padding: 8px;
    margin: 8px;
    margin-right: 0px;
    /* border: 1px solid white; */
}

/* search box */
/* 검색바 전체 부분 */
.search_box_area {
    display: flex;
    width: 470px;
    height: 40px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 349px;
    gap: 1px;
    flex-shrink: 0;
    margin-top: 8px;
    margin-right: 60px;
    /* border: 1px solid white; */

}

/* 검색창 부분 */
.search_box_area {
    display: flex;
    width: 470px;
    height: 40px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 349px;
    gap: 1px;
    flex-shrink: 0;
    margin-top: 8px;
    margin-right: 60px;
    /* border: 1px solid white; */

}

/* 검색창 부분 */
.search_box {
    width: 362px;
    height: 40px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border: 1px solid #303030;
    border-radius: 2px 0px 0px 2px;
    background: #121212;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: black;
    border-radius: 10px;
    background-color: #83C9E7;
    padding-left: 5px;
    font-family: iceJaram-Rg;
}

.search_box::placeholder {
    font-family: iceJaram-Rg;
    font-size: 25px;
    color: black;
}

/* 돋보기 모양 안쪽 부분 */
.search_box_icon {
    display: flex;
    width: 24px;
    height: 24px;
    padding: 6px 13px;
    justify-content: center;
    align-items: center;
    background: #303030;
    /* border: 1px solid white; */
}

/* 돋보기 모양 바깥부분 */
#search_box_btn {
    display: flex;
    width: 50px;
    height: 36px;
    padding: 3px 7px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid var(--border-color, #303030);
    background: var(--border-color, #303030);
}

/* 음성검색 부분 */
.voice_box {
    display: flex;
    padding: 8px;
    align-items: center;
    gap: 10px;
}

/* side bar */
/* 사이드바 전체 부분 */
.sidebar {
    position: fixed;
    top: 56px;
    display: flex;
    width: 200px;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: #4b89dc;
    overflow-y: auto;
    left: -240px;
    /* 이 부분을 수정함 */
    transition: left 0.3s ease;
    /* 부드러운 애니메이션 효과를 위해 추가 */
}


/* sidebar top 1,2 내용이 같아서 통합함. */

/* 사이드바 한 파트 전체 */
.sidebar_top {
    display: flex;
    padding: 12px 0px;
    flex-direction: column;
    align-items: flex-start;
    width: 240px;
    /* justify-content: flex-start; */
    border-bottom: 1px solid #1263CE;
    /* border: 1px solid white; */

    justify-content: center;
}

/* 사이드바 아이콘 부분 */
.sidebar_top>div {
    display: flex;
    padding: 8px 8px 8px 24px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* border: 1px solid white; */
}

.sidebar_btn:hover {
    background-color: #1263CE;
}

/* 사이드바 아이콘 뒤에 이름 부분 */
.sidebar>div>div>a {
    color: white;
    width: 144px;
    height: 16px;
    padding: 4px 0px;
}

/* sub 부분 */
.sidebarSub {
    display: flex;
    padding: 12px 0px;
    flex-direction: column;
    align-items: flex-start;
    /* border: 1px solid white; */
    gap: 12px;
    width: 240px;
    justify-content: center;
    border-bottom: 1px solid #1263CE;
}

/* sub 아이콘 부분 */
.sidebarSub>div {
    display: flex;
    padding: 8px 8px 8px 24px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* border: 1px solid white; */
}

.sidebarSub>div>img {
    width: 25px;
    height:25px;
    border-radius: 70px;
}


/* sidebarMore 부분 */
.sidebarMore {
    display: flex;
    padding: 12px 0px;
    flex-direction: column;
    align-items: flex-start;
    /* border: 1px solid white; */
    width: 224px;
    justify-content: center;

}

/* sidebarMore 아이콘 부분 */
.sidebarMore>div {
    display: flex;
    padding: 8px 8px 8px 24px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* border: 1px solid white; */
}


/* sidebarMore 이름 부분 */


.subTitle {
    display: flex;
    width: 220px;
    height: 32px;
    padding-right: 0px;
    align-items: center;
}

.subTitle:hover {
    background-color: #1263CE;
}

.subTitle>a {
    display: flex;
    padding: 8px 10px;
    align-items: flex-start;
    gap: 10px;
    color: var(--gray-color, #AAA);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: -90px;
}

/* sidebar_hidden 부분 */
.sidebarMore .sidebar_hidden {
    display: none;
    padding: 12px 0px;
    flex-direction: column;
    align-items: flex-start;
    /* border: 1px solid white; */
    width: 224px;
    justify-content: center;
    padding-left: 2px;
}

/* sidebar_hidden 아이콘 부분 */
.sidebarMore .sidebar_hidden>div {
    display: flex;
    padding: 8px 8px 8px 24px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

/* sidebar Footer 부분*/
.sidebarFooter {
    display: flex;
    padding: 12px 0px;
    flex-direction: column;
    align-items: flex-start;
    width: 224px;
    justify-content: center;
}

/* /-------------------------- 햄버거 버튼 (aside 크기 변경)--------------------------------------/ */
.sidebarHidden {
    width: 120px;
    font-size: 12px;
    transition: font-size 0.3s ease, width 0.3s ease;

}

.sidebarHidden>div>div {
    max-height: 40px;

}

.sidebarHidden>div>div>a {
    margin: 2px;
    padding-top: 1px;
    display: flex;
    flex-direction: column;
    /* 사이드바가 숨겨질 때 요소들을 세로로 배치 */
    align-items: flex-start;
    /* / 요소들을 왼쪽 정렬 / */
}

#hamburger {
    border: none;
    /* / 버튼의 기본 테두리 제거 / */
    background-color: transparent;
    /* / 배경색을 투명으로 설정 / */
    border-radius: 50%;
    /* / 버튼을 동그랗게 만듭니다. / */
    padding: 8px;
    /* / 원하는 크기로 버튼 크기 조절 / */
    cursor: pointer;
    /* / 마우스를 올렸을 때 커서 모양 변경 / */
}

#hamburger:hover {
    background-color: #bebcbcb7;
    /* / 마우스를 올렸을 때 버튼 색상 변경 / */
}

@media(max-width:1500px) {
    .profile_main {
        margin-left: 10px;
    }
}


@media (min-width:800px) and (max-width:1000px) {
    .search_box_area {
        margin-left: 100px;
    }

    .search_box {
        width: 180px;
    }
}

@media(max-width:799px) {
    .search_box_area {
        display: none;
    }

    .profile_main {
        margin-left: 25%;
    }
}

#yt_logo:hover::before {
    content: "YouTubeHome";
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f0f0f0;
    padding: 4px 8px;
    border-radius: 4px;
}

#apps:hover::before {
    content: "test";
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f0f0f0;
    padding: 4px 8px;
    border-radius: 4px;
}

#create_btn:hover::before {
    content: "create";
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f0f0f0;
    padding: 4px 8px;
    border-radius: 4px;
}


#alarm_btn:hover::before {
    content: "alarm";
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f0f0f0;
    padding: 4px 8px;
    border-radius: 4px;
}

#profile_btn:hover::before {
    content: "profile";
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f0f0f0;
    padding: 4px 8px;
    border-radius: 4px;
}

.hiddenMenu {
    display: none;
    position: absolute;
    top: 100%;
    left: -36px;
    background-color: white;
    border: 1px solid black;
    padding: 8px;
}

.hiddenMenu:nth-child(4) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0px;
    background-color: white;
    border: 1px solid black;
    padding: 8px;
}

.hiddenMenu:nth-child(6) {
    display: none;
    position: absolute;
    top: 100%;
    left: 51px;
    background-color: white;
    border: 1px solid black;
    padding: 8px;
}

.hiddenMenu:nth-child(8) {
    display: none;
    position: absolute;
    top: 100%;
    left: 102px;
    background-color: white;
    border: 1px solid black;
    padding: 8px;
}

.hiddenUl {
    list-style: none;
    margin: 0;
    padding: 0;
}

.hiddenA {
    margin-bottom: 5px;
    display: block;
}

.hiddenMenu.showMenu {
    display: block;
    /* showMenu 클래스가 적용되면 보이도록 설정 */
}

.profile_user {
    display: inline-block;
    width: 32px;
    height: 32px;
    align-items: center;
    gap: 10px;
    margin: 8px 0px;
    border-radius: 50%;
}
