/* 영상 및 info 전체 박스 css */
body {
    /* font-family: sans-serif; */
    font-family: iceJaram-Rg;
    font-size: x-large;
    background-color: #83C9E7;
    /* background-color: #212121; */
    overflow-x: auto;
}

.primary {
    display: flex;
    flex-direction: column;
    margin-top: 54px;
    /* margin-left: 220px; */
    /* padding-left: 20px; */
    width: 70%;
    color: black;
    font-weight: 600;
    font-size: x-large;
    margin-right: 20px;
    /* border: 1px solid black; */
    margin-left: 5%;
    transition: margin-left 0.4s ease;
}

.thumbnailWider {
    margin-left: 210px;
    transition: margin-left 0.4s ease;
}

/* 영상부분 css */
.video {
    width: 100%;
    height: auto;
    left: 0px;
    top: 0px;
    margin-top: 20px;
    border-radius: 5px;
}



/* 영상 밑 info 전체 박스 css */

.info_box {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 8px;
    /* border: 1px solid black; */
    border-bottom: 1px solid #303030;
}

/* 영상 제목 css */

.info_title {

    width: 100%;
    height: 21px;
    padding-top: 3px;
    padding-bottom: 2px;
    font-size: xx-large;
    /* border: 1px solid black; */
}

/* 제목 밑 view와 구독관련 버튼 박스 css */

.info_bottom {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 91px;
    width: 100%;
    height: 40px;
    /* border: 1px solid black; */
}

/* view와 등록일 css */
.info_view {
    /* border: 1px solid black; */
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 16px;
    padding: 12px 0px;
    font-size: x-large;
    gap: 5px;

}

/* 구독 관련 전체 박스 css */
.info_icon {
    display: flex;
    /* width: 100%; */
    align-items: center;
    justify-content: flex-end;
    gap: 0px;
    height: 40px;
    /* border:  1px solid black;  */
}

/* 구독 박스 아이콘 css */
.info_icon>button>img {
    align-items: center;
    justify-content: center;
    padding: 6px 6px 6px 6px;
    /* border:  1px solid black; */
}

/* 구독 박스 글자 css */
.info_icon>button>span {
    align-items: center;
    justify-content: center;
    padding: 6px 6px 6px 6px;
    color: black;
    font-weight: 600;
    font-size: x-large;
    font-family: 'iceJaram-Rg';
    /* border:  1px solid black; */
}

/* 구독 박스 아이콘+글자=버튼 박스 css */
.info_icon>button {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border:1px solid black; */
    border: 0;
    background-color: #83C9E7;
}

/* 버튼 박스에 호버시 색상 변경 */
.info_icon>button:hover {
    background-color: #44ADDA;
}

/* 버튼 박스 클릭시 색상 변경 */
.info_icon>button:active {
    background-color: #1263CE;
    box-shadow: 1px 1px 1px black;
    transition-duration: 0.1s;
}


.info_icon>button:focus {
    background-color: #44ADDA;
}




.channel_desc_area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    height: 149px;
    padding-bottom: 16px;
    margin-bottom: 1px;
    /* border: 1px solid black; */

}


/* .channel_title>button {

    border: 1px solid black;
} */

.channel_title {
    display: flex;
    padding: 16px;
    width: 100%;
    height: 70px;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    color: black;
    /* border: 1px solid black; */
    /* border-bottom: 1px solid black; */
}

.test {
    display: flex;
    align-items: flex-start;
}

.channel_title>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 15px;
    margin-right: 70%;
}

/* .channel_title>button {

    border: 0;
    background-color: transparent;
    cursor: pointer;
} */


/* .channel_icon {

    display: flex;
    width: 48px;
    height: 48px;
    justify-content: center;
    align-items: center;
} */


/* .channel_title>span {

    display: inline-flex;
    padding: 0px 0px 10px 0px;
    flex-direction: row;
    align-items: flex-start;
    border:1px solid black;

} */

#subscribe-button {
    background-color: #cc0000; 
    color: #fff;
    display: flex; 
    padding: 10px 16px; 
    align-items: center;
    justify-content: flex-start; 
    gap: 10px; 
    height: auto;
    font-size: 14px; 
    font-weight: 700;
 }

.channel_btn {
    width: 40px;
    height: 40px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    padding-right: 50px;
}

.channel_btn>img {
    width: 40px;
    height: 40px;
}

.channel_name {
    font-size: 40px;
    margin-bottom: 20px;
    color: black;
    font-size: 30px;
}

.subscribers {
    font-size: 20px;
}

/* .video_desc를 flexbox 레이아웃으로 설정 */
.video_desc {
    padding: 20px 20px 0px 10px;
    width: 98%;
    background-color: #44ADDA;
    border-radius: 10px;
    margin-bottom: 40px;
    /* border-bottom: solid 1px black; */
}

.video_desc>span {
    display: block;
    /* max-width: 476px; */
    /* 최대 너비 설정 */
    word-wrap: break-word;
    line-height: 0.6;
}

.video_dec_btn {
    padding: 0px 56px;
    margin: 0px;
}

.showmore_btn {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    color: black;
    font-size: 14px;
    font-weight: bold;
    margin-top: 15px;
    padding-left: 40px;

}

.dropdown_btn {
    width: 10px;
    height: 10px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    padding-right: 20px;
    padding-left: 40px;
}

#commentInput {
    display: inline-block;
    background-color: #83C9E7;
    border: none;
    outline: none;
    width: 95%;
    border-bottom: 1px solid #303030;
    font-style: black;
    resize: none;
    font-family: iceJaram-Rg;
    font-size: 35px;
    color: black;
    resize: none;
    min-height: 24px;
    padding: 5px;
    overflow: hidden;
    box-sizing: border-box;
}

#commentInput::placeholder {
    font-family: iceJaram-Rg;
    font-size: 25px;
    color: black;
}

.comment {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.comment_btns {
    display: flex;
    justify-content: start;
    width: auto;
    margin-top: 10px;
}

.comment_btns>div {
    margin-right: 100px;
}

.like_btn {
    background-color: #83C9E7;
    border: none;
}

#comment_btn {
    pointer-events: auto;
    margin-right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    font-family: iceJaram-Rg;
    color: black;
    font-size: 25px;
}

#comment_btn:hover {
    /* 마우스를 버튼 위로 올렸을 때의 색상 */
    background-color: rgba(16, 81, 221, 0.568);
}

#cancel_btn {
    pointer-events: auto;
    margin-right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    font-family: iceJaram-Rg;
    color: black;
    font-size: 25px;
}



#cancel_btn:hover {
    background-color: rgba(16, 81, 221, 0.568);
}

/* .Content {
    display: flex;
    width: 25%;
    height: auto;
    margin-top: 54px;
} */
/* 
.Content>div>span {
    display: inline;
} */

.video_second {
    font-family: iceJaram-Rg;
    color: black;
    font-size: x-large;
    font-weight: 600;
    position: absolute;
    top: 56px;
    display: flex;
    width: 20%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-shrink: 0;
    /* margin-left: 24px; */
    padding-top: 24px;
    margin-left: 15px;
    /* border:1px solid black; */
}

.second_vd {
    display: flex;
    padding-top: 8px;
    align-items: flex-start;
    width: auto;
    height: auto;
    gap: 10px;
}

.second_vd_vd {
    width: auto;
    height: 94px;
    border-radius: 5px;
}

.second_vd_vdbox {
    display: flex;
    padding-right: 0px;
    flex-direction: column;
    align-items: flex-start;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.second_vd_vdbox:hover {
    opacity: 0.8;
}

.second_vd_infobox {
    display: flex;
    width: auto;
    height: 94px;
    padding: 5px 5px 0px 0px;
    flex-direction: column;
    align-items: flex-start;
    font-size: 80%;
}

.second_topbox {
    display: flex;
    width: auto;
    padding: 1px 12px 2px 0px;
    align-items: flex-start;
}

.second_topmenu {
    display: flex;
    padding: 8px 12px;
    margin: 5px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 32px;
    color: white;
    background: #687CE1;
    cursor: pointer;
}

.second_topmenu:hover {
    background: #4332D4;
}

.comment_input_box {
    display: flex;
    position: relative;
}

.comment_box {
    margin-bottom: 30px;
    width: 70%;
}

.comment_profile {
    display: flex;
}

.comment_profile_img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    margin-left: 10px;
}

.comment_username {
    font-weight: 1700;
    color: rgb(247, 242, 1);
}

.comment-output {
    color: black;
    font-size: 35px;
}

#edit_btn {
    pointer-events: auto;
    margin-right: 10px;
    background-color: #83C9E7;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    font-family: iceJaram-Rg;
    color: black;
    font-size: 25px;
}

#edit_btn:hover {
    background-color: rgba(16, 81, 221, 0.568);
}

#delete_btn {
    pointer-events: auto;
    margin-right: 10px;
    background-color: #83C9E7;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    font-family: iceJaram-Rg;
    color: black;
    font-size: 25px;
}

#delete_btn:hover {
    background-color: rgba(207, 21, 21, 0.918);
}

.edit_input {
    display: inline-block;
    background-color: #83C9E7;
    border: none;
    outline: none;
    width: 70%;
    border-bottom: 1px solid #303030;
    font-style: black;
    resize: none;
    font-family: iceJaram-Rg;
    font-size: 25px;
    color: black;
}

.edit_cancel_btn {
    pointer-events: auto;
    margin-right: 10px;
    background-color: #83C9E7;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    font-family: iceJaram-Rg;
    color: black;
    font-size: 25px;
}

.edit_cancel_btn:hover {
    background-color: rgba(16, 81, 221, 0.568);
}

.edit_confirm_btn {
    pointer-events: auto;
    margin-right: 10px;
    background-color: #83C9E7;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    font-family: iceJaram-Rg;
    color: black;
    font-size: 25px;
}

.edit_confirm_btn:hover {
    background-color: rgba(16, 81, 221, 0.568);
}

.edit_buttons_container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
}


.channel_title>a>img {
    width: 60px;
    height: 60px;
    border-radius: 70%;
    /* margin-top: 30px; */
}