/* nav바 */
.navigation {
    position: fixed;
    display: flex;
<<<<<<< Updated upstream
    /* justify-content: center; */
    justify-content: flex-end;
    align-items: center;
    top: 56px; /* header 아래에 위치하도록 설정 */
    background-color: #212121;
=======
    justify-content: left;
    align-items: center;
    top: 56px; /* header 아래에 위치하도록 설정 */
    background-color: #44ADDA;
>>>>>>> Stashed changes
    width: 100%;
    height: 60px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 5px;
    color: #fff;
<<<<<<< Updated upstream
    left: 0;
    border-bottom: 1px 1px solid #303030;
}

=======
    left: 240px;
    border-bottom: 1px 1px solid #303030;
}

.items {
    white-space: nowrap;
    overflow: hidden;
}

.items:hover{
    overflow-x: auto;
}

>>>>>>> Stashed changes

/* nav 바 item */
.item {
    width: 60px;
    height: 40px;
    border-radius: 45%;
<<<<<<< Updated upstream
    background-color: #AAAAAA;
=======
    background-color: #1263CE;
>>>>>>> Stashed changes
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 5px;
    margin-right: 10px;
}

.item > a {
    display: block;
    margin: 10px;
    text-align: center;
    line-height: 20px;
    color: white;
    text-decoration: none;
<<<<<<< Updated upstream
  }
=======
}
>>>>>>> Stashed changes

/* 비디오 썸네일 */
.Thumbnail {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 130px;
    margin-left: 270px;
    flex: 1;
<<<<<<< Updated upstream
}

.Thumbnail_art {
    width: 200px;
    height: 150px;
=======
    color: white;
}

.Thumbnail_art {
    width: 250px;
    height: 300px;
>>>>>>> Stashed changes
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

<<<<<<< Updated upstream
=======
.Thumbnail_art > p{
    font-size: 20px;
}

>>>>>>> Stashed changes
.Thumbnail_img {
    width: 100%;
}

.Thumbnail_h3 {
    margin: 8px 0;
<<<<<<< Updated upstream
=======
    /* font-size: px; */
>>>>>>> Stashed changes
}

main {
    display: flex;
    gap: 20px;
    padding: 10px;
}
