/* nav바 */
.navigation {
    position: fixed;
    display: flex;
    /* justify-content: center; */
    justify-content: flex-end;
    align-items: center;
    top: 56px; /* header 아래에 위치하도록 설정 */
    background-color: #212121;
    width: 100%;
    height: 60px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 5px;
    color: #fff;
    left: 0;
    border-bottom: 1px 1px solid #303030;
}


/* nav 바 item */
.item {
    width: 60px;
    height: 40px;
    border-radius: 45%;
    background-color: #AAAAAA;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 5px;
    margin-right: 10px;
}

.item > a {
    display: block;
    margin: 10px;
    text-align: center;
    line-height: 20px;
    color: white;
    text-decoration: none;
  }

/* 비디오 썸네일 */
.Thumbnail {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 130px;
    margin-left: 270px;
    flex: 1;
}

.Thumbnail > article {
    width: 200px;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Thumbnail > article > img {
    width: 100%;
}

.Thumbnail > article > h3 {
    margin: 8px 0;
}

main {
    display: flex;
    gap: 20px;
    padding: 10px;
}
