/* nav바 */
.navigation {
    position: fixed;
    display: flex;
    justify-content: left;
    align-items: center;
    top: 56px;
    /* header 아래에 위치하도록 설정 */
    background-color: #44ADDA;
    width: 100%;
    height: 60px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 5px;
    color: #fff;
    left: 240px;
    /* border-bottom: 1px solid #303030; */
    /* 변경: 1px 1px solid */
    overflow-x: hidden;
    transition: left 0.4s ease;
}
/*  */
.navbarLonger {
    left: 100px;
    transition: left 0.4s ease;
}

.items {
    overflow-x: hidden;
    white-space: nowrap;
    /* 변경: overflow-x를 hidden에서 visible로 수정 */
    transition: transform 0.3s ease;
    /* 추가: 스크롤 시 애니메이션 효과 */
    width: 420px;
}

.items:hover {
    overflow-x: auto;
}

.items::-webkit-scrollbar {
    display: none;
}

.scroll {
    display: block;
    /* 스크롤 버튼 스타일 설정 */
}

/* nav 바 item */
.item {
    width: auto;
    height: 40px;
    border-radius: 45%;
    background-color: #1263CE;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    margin: 0 5px;
    margin-right: 10px;
    color: #fff;
}

.item>a {
    display: block;
    margin: 10px;
    text-align: center;
    line-height: 20px;
    color: white;
    text-decoration: none;
}


/* 비디오 썸네일 */
.Thumbnail {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 140px;
    margin-left: 40px;
    flex: 1;
    color: black;
    transition: left 0.3s ease;
}

.Thumbnail_art {
    width: 300px;
    height: 360px;
    /* border: 1px solid #ccc; */
    border-radius: 4px;
    /* padding: 30px; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Thumbnail_art>div {
    display: flex;
    flex-direction: row;
}

.ThumbnailInfo {
    color:midnightblue ;
    font-size: 22px;
    margin: 5px 0px 5px 5px;
    font-weight: 600;
}

.Thumbnail_img {
    width: 100%;
    border-radius: 10px;
}

.Thumbnail_profile_img {
    width: 50px;
    height: 50px;
    border-radius: 70%;
    margin: 10px;
}

.Thumbnail_h3 {
    margin: 0;
    color: black;
    font-size: 27px;
}

body {
    justify-content: flex-start;
}

main {
    display: flex;
    gap: 20px;
}

.main_box {
    margin-left: 240px;
    transition: margin-left 0.4s ease;
}

.ThumbnailWider {
    margin-left: 100px;
    transition: margin-left 0.4s ease; 
}